<div class="jumbotron">
    <h1>Preise</h1>
</div>

<p>Die Miete beträgt bei Belegung durch zwei Personen 72 Euro pro Übernachtung (Mindestbetrag 288€)</p>
<p>bei 1 Woche Gesamtdauer 64€ pro Übernachtung</p>
<p>bei 2-4 Wochen Gesamtdauer 57,50€ pro Übernachtung</p>
<p>Jede weiter Person wird mit 16,20€ pro Übernachtung gerechnet.</p>
<p>Monatsmiete 1380€</p>
<p>Jede weitere Person wird mit 325€ Monatsmiete gerechnet.</p>
<p>Die Preise verstehen sich inklusive der geltenden Mehrwertsteuer. Die Miete ist im Voraus fällig. Der Gast erhält eine Endabrechnung mit ausgewiesener Mehrwertsteuer.</p>

<p>
  Im Mietpreis ist enthalten:
  <ul>
    <li><a href="https://albcard.de" style="font-weight: 650">AlbCard</a> geschenkt: freier ÖPNV und freier Eintritt zu vielen Attraktionen. &ndash; gilt nicht für Geschäftsreisende &ndash;</li>
    <li>Bettwäsche. Der Wechsel der Bettwäsche erfolgt alle 14 Tage.</li>
    <li>Handtücher. Der Wechsel der Handtücher erfolgt alle 4 Tage.</li>
    <li>Küchentücher</li>
    <li>Endreinigung</li>
    <li>Kosten für Wasser und Energie (Strom, Heizung), Internet-, Telefon- (Festnetz Deutschland), Radio- und Fernsehanschluss.</li>
    <li>Eine Waschmaschine steht für eine geringe Nutzungsgebühr bereit.</li>
  </ul>
</p>

<p>Die Preise verstehen sich inklusive der geltenden Mehrwertsteuer. Die Miete ist im Voraus fällig. Der Gast erhält eine Endabrechnung mit ausgewiesener Mehrwertsteuer.</p>
<h2><strong><em>Buchungsbedingungen</em></strong></h2>
<p><a title="Mietformular" href="/images/mietvertrag.pdf" target="_blank"><span style="font-family: Arial; font-size: small;">Mietformular</span></a></p>
