<div class="article">
<p style="font-size: small;"><span style="font-size: 10pt;"><span style="font-family: Arial;">Die Miete beträgt bei Belegung durch zwei Personen</span></span></p>
<p style="font-size: small;"><span style="font-size: 10pt;"><span style="font-family: Arial;"> 67€ </span><span style="font-family: Arial;">pro Übernachtung (Mindestbetrag&nbsp; 268€)<br></span></span></p>
<p style="font-size: small;"><span style="font-size: 10pt;"><span style="font-family: Arial;">bei 1 Woche Gesamtdauer &nbsp; 59,50€ pro Übernachtung</span></span></p>
<p style="font-size: small;"><span style="font-size: 10pt;"><span style="font-family: Arial;">bei 2-4 Wochen Gesamtdauer 53,50€ pro Übernachtung</span></span></p>
<p style="font-size: small;"><span style="font-size: 8pt;"><span style="font-family: Arial;">Jede weitere Person wird mit 15 Euro</span><span style="font-family: Arial;"> pro Übernachtung gerechnet.</span></span></p>
<p style="font-size: small;"><span style="font-size: 10pt;"><span style="font-family: Arial;">Monatsmiete&nbsp; 1280€<br></span></span></p>
<p style="font-size: small;"><span style="font-family: Arial; font-size: x-small;">Jede weitere Person wird m</span><span style="font-size: 8pt;"><span style="font-family: Arial;">it 300 Euro Monatsmiete gerechnet.</span></span></p>
<p style="font-size: small;"><span style="font-size: 10pt;"><span style="font-family: arial, helvetica, sans-serif;">Im Mietpreis ist enthalten:<br>- Bettwäsche. Der Wechsel der Bettwäsche erfolgt alle 14 Tage.<br>- Handtücher. Der Wechsel der Handtücher erfolgt alle 4 Tage.<br>- Küchentücher<br>- Endreinigung<br>- Kosten für Wasser und Energie (Strom, Heizung), Internet-, Telefon- (Festnetz Deutschland), Radio-<br>und Fernsehanschluss.</span></span></p>
<p style="font-size: small;"><span style="font-family: Arial; font-size: small;">Die Preise verstehen sich inklusive der geltenden Mehrwertsteuer. Die Miete ist im Voraus fällig. Der Gast erhält eine Endabrechnung mit ausgewiesener Mehrwertsteuer.</span></p>
<h2 style="font-size: small;"><span style="font-family: Arial; font-size: medium;"><strong>Leih-Fahrräder</strong></span></h2>
<p style="font-size: small;"><span style="font-family: Arial; font-size: small;">4 - 6 €&nbsp;/ Tag</span></p>
<h2 style="font-size: small;"><span style="font-family: Arial; font-size: medium;"><strong><em>Buchungsbedingungen</em></strong></span></h2>
<p style="font-size: small;"><a title="Mietformular" href="/images/stories/HausOrange/Mietvertrag.pdf" target="_blank"><span style="font-family: Arial; font-size: small;">Mietformular</span></a></p>

</div>
